In [11]:
import pandas as pd
df = pd.read_csv('Downloads/survey_results_public.csv')

In [9]:
df.iloc[:, 0:10].head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...

In [16]:
df.shape

(65437, 114)

In [22]:
df.ResponseId.unique()

array([    1,     2,     3, ..., 65435, 65436, 65437], dtype=int64)

In [24]:
df.ResponseId.nunique()

65437

In [108]:
len(df.ResponseId.unique())

65437

## 1.Кількість респондентів що пройшли опитування складає 65437

In [32]:
df.dropna(axis = 0)

Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

In [87]:
import pandas as pd
import numpy as np
import math

In [89]:
df = pd.read_csv('Downloads/survey_results_public.csv')
schema = pd.read_csv('Downloads/survey_results_schema.csv')

In [90]:
questions_from_survey = df.columns
questions_from_schema = schema.qname
print(questions_from_schema)
print(questions_from_survey)

0          MainBranch
1                 Age
2          Employment
3          RemoteWork
4               Check
           ...
82     JobSatPoints_7
83     JobSatPoints_8
84     JobSatPoints_9
85    JobSatPoints_10
86    JobSatPoints_11
Name: qname, Length: 87, dtype: object
Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [91]:
both = set(questions_from_schema) & set(questions_from_survey)
print(both)

{'AISelect', 'YearsCodePro', 'JobSatPoints_7', 'Knowledge_5', 'JobSatPoints_1', 'JobSatPoints_11', 'AIEthics', 'Frustration', 'Knowledge_7', 'AIThreat', 'Knowledge_6', 'Knowledge_9', 'DevType', 'JobSatPoints_6', 'AIComplex', 'JobSatPoints_9', 'Currency', 'SOComm', 'ProfessionalCloud', 'Industry', 'AIAcc', 'ProfessionalQuestion', 'AIBen', 'Knowledge_4', 'RemoteWork', 'TechDoc', 'SOVisitFreq', 'AISent', 'SOAccount', 'EdLevel', 'Frequency_3', 'Frequency_2', 'CompTotal', 'NEWSOSites', 'OrgSize', 'Knowledge_1', 'LearnCodeOnline', 'Country', 'TBranch', 'Frequency_1', 'Check', 'TimeSearching', 'TimeAnswering', 'Employment', 'JobSatPoints_8', 'JobSatPoints_5', 'YearsCode', 'Age', 'AIChallenges', 'LearnCode', 'Knowledge_8', 'SOHow', 'BuildvsBuy', 'SOPartFreq', 'SurveyEase', 'JobSatPoints_10', 'JobSat', 'MainBranch', 'PurchaseInfluence', 'TechEndorse', 'BuyNewTool', 'CodingActivities', 'ICorPM', 'ProfessionalTech', 'Knowledge_2', 'Knowledge_3', 'SurveyLength', 'JobSatPoints_4', 'WorkExp'}

In [95]:
df.dropna(subset = both).shape[0]

6306

## 2.Кількість респондентів що відповіли на всі запитання - 6306

In [13]:
df['WorkExp'].describe()

count    29658.000000
mean        11.466957
std          9.168709
min          0.000000
25%          4.000000
50%          9.000000
75%         16.000000
max         50.000000
Name: WorkExp, dtype: float64

## 3. В результаті розрахунків було з'ясовано що значення мір центральної тенденції для досвіду роботи респондентів наступні (зазначені вище)

In [97]:
df[df.RemoteWork=='Remote'].shape[0]

20831

## 4. Кількість респондентів що працюють віддалено складає - 20831

In [99]:
mask = df.LanguageHaveWorkedWith.str.lower().str.contains('python', na = False)
df.loc[mask].shape[0]

30795

Кількість респондентів що програмує на Python - 30795

In [15]:
mask = df.LanguageHaveWorkedWith.str.lower().str.contains('python', na = False)
df.loc[mask].shape[0] / len(df.ResponseId.unique())

0.47060531503583597

## 5. Кількість респондентів що програмує на Python - 47%

In [105]:
df.LearnCode

0                                   Books / Physical media
1        Books / Physical media;Colleague;On the job tr...
2        Books / Physical media;Colleague;On the job tr...
3        Other online resources (e.g., videos, blogs, f...
4        Other online resources (e.g., videos, blogs, f...
                               ...
65432    On the job training;School (i.e., University, ...
65433                                                  NaN
65434    Other online resources (e.g., videos, blogs, f...
65435    On the job training;Other online resources (e....
65436                                                  NaN
Name: LearnCode, Length: 65437, dtype: object

In [107]:
mask2 = df.LearnCode .str.lower().str.contains('online', na = False)
df.loc[mask2].shape[0]

54061

## 6. за допомогою онлайн курсів навчалося програмувати респондентів - 54061

In [110]:
df.ConvertedCompYearly[mask].agg(['mean', 'median'])

mean      88968.298705
median    67911.000000
Name: ConvertedCompYearly, dtype: float64

In [17]:
df[mask].groupby(by = 'Country').agg({'ConvertedCompYearly' : ['mean', 'median']})

                                     ConvertedCompYearly
                                                    mean    median
Country
Afghanistan                                  4543.000000    4768.5
Albania                                     56295.000000   56295.0
Algeria                                      9053.285714    6230.0
Andorra                                    193331.000000  193331.0
Angola                                          6.000000       6.0
...                                                  ...       ...
Venezuela, Bolivarian Republic of...        21500.000000    7100.0
Viet Nam                                    14014.562500   10180.0
Yemen                                       10297.333333    5333.0
Zambia                                      28123.666667   22803.0
Zimbabwe                                    37500.000000   18000.0

[173 rows x 2 columns]

## 7. Серед респондентів що програмують на Python в групуванні по країнам, середня та медіанна сума компенсації зазначена вище.

In [19]:
top_5 = df[['EdLevel', 'ConvertedCompYearly']].sort_values(
    by='ConvertedCompYearly',
    ascending=False
).head(5)

print(top_5)

                                              EdLevel  ConvertedCompYearly
15837    Bachelor’s degree (B.A., B.S., B.Eng., etc.)           16256603.0
12723  Professional degree (JD, MD, Ph.D, Ed.D, etc.)           13818022.0
28379  Professional degree (JD, MD, Ph.D, Ed.D, etc.)            9000000.0
17593    Bachelor’s degree (B.A., B.S., B.Eng., etc.)            6340564.0
17672  Professional degree (JD, MD, Ph.D, Ed.D, etc.)            4936778.0

## 8. Рівні освіти ТОП 5 респондентів з найбільшою компенсацією (зазначено вище)

In [25]:
df['python'] = mask
df.python

0        False
1         True
2        False
3         True
4         True
         ...
65432    False
65433    False
65434    False
65435     True
65436     True
Name: python, Length: 65437, dtype: bool

In [29]:
temp_table = df.groupby('Age').agg({'ResponseId' : 'count', 'python' : 'sum'})

In [31]:
temp_table = df.groupby('Age').agg({'ResponseId' : 'count', 'python' : 'sum'})
temp_table.python / temp_table.ResponseId

Age
18-24 years old       0.559228
25-34 years old       0.457739
35-44 years old       0.415205
45-54 years old       0.419107
55-64 years old       0.404272
65 years or older     0.375648
Prefer not to say     0.453416
Under 18 years old    0.648754
dtype: float64

## 9. Відсоток респондентів що програмує на Python за віковими категоріями.

In [5]:
df[(df.ConvertedCompYearly > df.ConvertedCompYearly.quantile(0.75)) & (df.RemoteWork == 'Remote')].Industry.value_counts()

Industry
Software Development                          768
Other:                                        239
Healthcare                                    156
Fintech                                       156
Internet, Telecomm or Information Services    145
Retail and Consumer Services                  106
Media & Advertising Services                  103
Banking/Financial Services                     69
Government                                     69
Computer Systems Design and Services           69
Transportation, or Supply Chain                67
Insurance                                      50
Manufacturing                                  48
Higher Education                               42
Energy                                         36
Name: count, dtype: int64

## 10. Найрозповсюдженіші індустрії, серед респондентів що знаходяться в 75 перцентилі за компенсацією середнього і працюють віддалено.